<div id="wh">
  <br/>
  <div id="about">
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>Ayas Behera</mat-card-title>
        <img mat-card-avatar src="https://ronald-hove.github.io/assets/media/images/avatar.png">
        <mat-card-subtitle >
          <br/><br/>
          <div><a href="twitter.com/ayasbehera">Twitter</a></div>
          <div><a href="https://www.linkedin.com/in/ayas-behera-4a806262/">LinkedIn</a></div>
          <div><a href="github.com/the-pro">Github</a></div>
      </mat-card-subtitle>
    </mat-card-title-group>
    </mat-card>
    <br/><br/>
    <mat-card>
      <mat-card-title-group>
        <mat-card-title>About me</mat-card-title>
        <!-- <img mat-card-avatar src="https://ronald-hove.github.io/assets/media/images/avatar.png"> -->
        <mat-card-subtitle >
          Hi I am Ayas Behera. I am currently pursuing my B.Tech degree from IIIT Manipur in India.
          I like to solve problems and write javascript and write javascript to solve problems
          <br/><br/>
          Currently I am into open source contributions and contributing to real world software
      </mat-card-subtitle>
    </mat-card-title-group>
    </mat-card>

  </div>
  <div id="body">
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Indian Institute of Information Technology, Manipur</mat-card-title>
    <mat-card-subtitle >B.Tech - Computer Science
    </mat-card-subtitle>
  </mat-card-title-group>
  </mat-card>
  <br/>
  <h1>Projects</h1>
  <!-- <br/> -->
  <mat-card>
    <mat-card-title-group>
      <img mat-card-lg-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/de/Jarvis_march_convex_hull_algorithm_diagram.svg/280px-Jarvis_march_convex_hull_algorithm_diagram.svg.png">
      <mat-card-title>Computational Geometry Simulator</mat-card-title>
    <mat-card-subtitle >May 2020 - June 2020
      <mat-chip-list>
      <mat-chip color="primary">Javascript</mat-chip>
      <mat-chip color="primary">HTML</mat-chip>
      <mat-chip color="primary">CSS</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-title-group>
  <mat-card-content>This project gives a web based interface to simulate computational geometry algorithms like
    graham scan and gift wrapping algorithm.</mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Video Call web app</mat-card-title>
    <mat-card-subtitle >
      Oct 2020 - Feb 2021
      <mat-chip-list>
        <mat-chip color="primary">Javascript</mat-chip>
        <mat-chip color="primary">HTML</mat-chip>
        <mat-chip color="primary">CSS</mat-chip>
          <mat-chip color="primary">Nodejs</mat-chip>
          <mat-chip color="primary">Socket.io</mat-chip>
          <mat-chip color="primary">Peerjs</mat-chip>
          <mat-chip color="primary">WebRTC</mat-chip>
        </mat-chip-list>
    </mat-card-subtitle>
    <img mat-card-lg-image src="https://i.pinimg.com/originals/44/be/b3/44beb3c457a01f0a4a4f0d9ede6af2f4.png">
  </mat-card-title-group>
  <mat-card-content>A web based app where people can conduct online video call meetings without creating an account or logging in. </mat-card-content>
  </mat-card>
  <br/><br/>
  <h1>Top Skills</h1>
  <mat-card>
    <mat-card-title-group>
      <mat-card-title>Programming</mat-card-title>
    <mat-card-subtitle >
      <mat-chip-list>
        <mat-chip color="primary">Javascript</mat-chip>
        <mat-chip color="primary">HTML</mat-chip>
        <mat-chip color="primary">CSS</mat-chip>
          <mat-chip color="primary">Nodejs</mat-chip>
          <mat-chip color="primary">Socket.io</mat-chip>
          <mat-chip color="primary">Peerjs</mat-chip>
          <mat-chip color="primary">WebRTC</mat-chip>
        </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-title-group>
  </mat-card>

  <div id="not">

  </div>
  <div id="res">

  </div>
  <br/><br/>
  
  <div>
</div>